<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ mytitle }}</title>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <!-- Booststrap -->
    {% load staticfiles %}
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet" media="screen">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body screen_capture_injected="true">
<div class="container-fluid">
    <form class="form-horizontal" method="post" action="/login/">
        <fieldset>
            <legend>用户登录</legend>
            <div class="control-group">
                <label class="control-label" for="username">用户名</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="username" name="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">密码</label>

                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
        </fieldset>
    </form>
</div>

<hr>
<footer>
    <p>Welcome!</p>
</footer>

</body>
</html>
